<section class="about section" id="about">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>About Me</h2>
            </div>
        </div>
        <div class="row">
            <div class="about-content padd-15">
                <div class="row">
                    <div class="about-text padd-15">
                        <h3>I'm Rahul T and <span>Web Developer</span></h3>
                        <p>
                            Hi! My name is Rahul T. I am a Web Developer, and I'm very passionate and dedicated
                            to my work. I am a student at College of Engineering, Trivandrum. I acquired the skills
                            and knowledge necessary to make your project a success, with a lot of practice. I enjoy
                            every step of the design process
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="personal-info padd-15">
                        <div class="row">
                            <div class="info-item padd-15">
                                <p>Birthday : <span>22 Nov 2001</span></p>
                            </div>
                            <div class="info-item padd-15">
                                <p>Age : <span>18</span></p>
                            </div>
                            <div class="info-item padd-15">
                                <p>website : <span>mallutechies.com</span></p>
                            </div>
                            <div class="info-item padd-15">
                                <p>email : <span>rahulmanoj@cet.ac.in</span></p>
                            </div>
                            <div class="info-item padd-15">
                                <p>Degree : <span>Btech</span></p>
                            </div>
                            <div class="info-item padd-15">
                                <p>Phone : <span>+91 9747 4066 85</span></p>
                            </div>
                            <div class="info-item padd-15">
                                <p>City : <span>Kerala</span></p>
                            </div>
                            <div class="info-item padd-15">
                                <p>Freelance : <span>Available</span></p>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="buttons padd-15">
                                <a target="_blank" href="/static/Resume.pdf" class="btn">Download CV</a>
                                <a href="#contact" data-section-index="1" class="btn hire-me">Hire Me</a>
                            </div>
                        </div>
                    </div>
                    <div class="skills padd-15">
                        <div class="row">
                            <div class="skill-item">
                                <h5>Python</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 75%;"></div>
                                    <div class="skill-percent">75%</div>
                                </div>
                            </div>
                            <div class="skill-item">
                                <h5>Javascript</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 25%;"></div>
                                    <div class="skill-percent">25%</div>
                                </div>
                            </div>
                            <div class="skill-item">
                                <h5>Django</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 55%;"></div>
                                    <div class="skill-percent">55%</div>
                                </div>
                            </div>
                            <div class="skill-item">
                                <h5>React</h5>
                                <div class="progress">
                                    <div class="progress-in" style="width: 15%;"></div>
                                    <div class="skill-percent">15%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="education padd-15">
                        <h3 class="title">Education</h3>
                        <div class="row">
                            <div class="timeline-box padd-15">
                                <div class="timeline shadow-dark">
                                    <!-- Timeline Item  -->
                                    <div class="timeline-item">
                                        <div class="circle-dot"></div>
                                        <h6 class="timeline-date">
                                            <i class="fa fa-calendar"></i> 2019 - Present
                                        </h6>
                                        <h4 class="timeline-title">Btech in Computer Science</h4>
                                        <p class="timeline-text">
                                        I am currently studying Computer Science
                                        at College of Engineering, Trivandrum.
                                        Now i am in 2nd year
                                        </p>
                                    </div>   
                                    <!-- Timeline Item End  -->

                                    <!-- Timeline Item  -->
                                    <div class="timeline-item">
                                        <div class="circle-dot"></div>
                                        <h6 class="timeline-date">
                                            <i class="fa fa-calendar"></i> 2017 - 2019
                                        </h6>
                                        <h4 class="timeline-title">Higher Secondary</h4>
                                        <p class="timeline-text">
                                        In the year 2017 - 19 I was studying plus one plus two 
                                        at GHSS Puthur, Which is close to my house. I scored 1181 out of 1200
                                        Also i got full marks for Phy, Che, Maths
                                        </p>
                                    </div>   
                                    <!-- Timeline Item End  -->

                                    <!-- Timeline Item  -->
                                    <div class="timeline-item">
                                        <div class="circle-dot"></div>
                                        <h6 class="timeline-date">
                                            <i class="fa fa-calendar"></i> 2012 - 2017
                                        </h6>
                                        <h4 class="timeline-title">High School</h4>
                                        <p class="timeline-text">
                                        During this time i was studying at SNHSS vadakara.
                                        I got full A+ in my 10th Std
                                        </p>
                                    </div>   
                                    <!-- Timeline Item End  -->
                                </div>
                            </div>                                 
                        </div>
                    </div>
                    <div class="experience padd-15">
                        <h3 class="title">Experience</h3>
                        <div class="row">
                            <div class="timeline-box padd-15">
                                <div class="timeline shadow-dark">
                                    <!-- Timeline Item  -->
                                    <div class="timeline-item">
                                        <div class="circle-dot"></div>
                                        <h6 class="timeline-date">
                                            <i class="fa fa-calendar"></i> 2019 - present
                                        </h6>
                                        <h4 class="timeline-title">Backend Developer</h4>
                                        <p class="timeline-text">
                                        I am currently studying Computer Science
                                        at College of Engineering, Trivandrum.
                                        Now i am in 2nd year
                                        </p>
                                    </div>   
                                    <!-- Timeline Item End  -->

                                    <!-- Timeline Item  -->
                                    <div class="timeline-item">
                                        <div class="circle-dot"></div>
                                        <h6 class="timeline-date">
                                            <i class="fa fa-calendar"></i> 2019 - 2019
                                        </h6>
                                        <h4 class="timeline-title">Frontend Developer</h4>
                                        <p class="timeline-text">
                                        In the year 2017 - 19 I was studying plus one plus two 
                                        at GHSS Puthur, Which is close to my house. I scored 1181 out of 1200
                                        Also i got full marks for Phy, Che, Maths
                                        </p>
                                    </div>   
                                    <!-- Timeline Item End  -->

                                    <!-- Timeline Item  -->
                                    <div class="timeline-item">
                                        <div class="circle-dot"></div>
                                        <h6 class="timeline-date">
                                            <i class="fa fa-calendar"></i> 2019 - 2019
                                        </h6>
                                        <h4 class="timeline-title">Graphic Design</h4>
                                        <p class="timeline-text">
                                        During this time i was studying at SNHSS vadakara.
                                        I got full A+ in my 10th Std
                                        </p>
                                    </div>   
                                    <!-- Timeline Item End  -->
                                </div>
                            </div>                                 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>