<section class="certificate section" id="certificates">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>Certificates</h2>
            </div>
        </div>
        <div class="row">
            {% for certificate in site.certificates%}
            <!-- Portfolio Item  -->
            
            <div class="certificate-item padd-15">
                <a target="_blank" href="{{ certificate.pdf }}">
                <div class="certificate-item-inner shadow-dark">
                    
                    <div class="certificate-img">
                        <img src="{{ certificate.img_path }}" alt="portfolio">
                    </div>
                    
                    <div class="certificate-info">
                        <h4>{{ certificate.title }}</h4>
                        <!-- <a href="https://www.instagram.com" target="_blank">
                            <div class="icon">
                            <i class="fa fa-search"></i>
                            </div>
                        </a> -->
                    </div>
                </div>
            </a>            
            </div>
            <!-- Portfolio Item End -->
            {% endfor %}
        </div>
    </div>
</section>