<section class="contact section" id="contact">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>Contact Me</h2>
            </div>
        </div>
        <div class="row">
            <!-- Contact info item -->
            <div class="contact-info-item padd-15">
                <div class="icon"><i class="fa fa-phone"></i></div>
                <h4>Call Me Now</h4>
                <a href="tel:+919747406685"><p>+91 974 740 6685</p></a>
            </div>
            <!-- Contact info item End-->
            <!-- Contact info item -->
            <div class="contact-info-item padd-15">
                <div class="icon"><i class="fa fa-map-marker"></i></div>
                <h4>House</h4>
                <p>Puthur, Kerala, India</p>
            </div>
            <!-- Contact info item End-->
            <!-- Contact info item -->
            <div class="contact-info-item padd-15">
                <div class="icon"><i class="fa fa-envelope"></i></div>
                <h4>Email</h4>
                <a href="mailto:rahulmanoj@cet.ac.in"><p>rahulmanoj@cet.ac.in</p></a>
            </div>
            <!-- Contact info item End-->
        </div>
        <!-- Contact Form  -->
        <div class="row">
            <form class="contact-form padd-15" action="/" name="google-sheet">
                <div class="row">
                    <div class="form-item col-6 padd-15">
                        <div class="form-group">
                            <input type="text" name="Name" class="form-control" placeholder="Name*" required="" >
                        </div>
                    </div>
                    <div class="form-item col-6 padd-15">
                        <div class="form-group">
                            <input type="text" name="Email" class="form-control" placeholder="Email*" required="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-item col-12 padd-15">
                        <div class="form-group">
                            <input type="text" name="Subject" class="form-control" placeholder="subject*" required="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-item col-12 padd-15">
                        <div class="form-group">
                            <textarea  class="form-control" name="Message" placeholder="Your Message..." required=""></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 padd-15">
                        <!-- <button type="submit" class="btn">Send Message</button> -->
                        <input type="submit" name="Submit" class="btn" value="Send Messege">
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>