<link rel="stylesheet" href="/static/css/home.css">
<style>
  .counter{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    padding: 20px;
    font-size: 30px;
  }
  #count{
    color: #ffc107;
  }
  .container .counter p{
    font-size: 18px;
  }
  #phone-tip{
    display: none;
  }
  @media(max-width: 676px){
    #phone-tip{
      display: block;
    }
  }
</style>
<section class="home section active" id="home">
    <div style="padding-bottom: 0;" class="container">
        <div class="intro">
            <div class="intro-box">
                <img src="/static/images/bg.jpg" alt="background" class="bg">
                <h2>Discover My Amazing <br> Art Space!</h2>
                <h1><span class="text blue">Rahul T</span></h1>
                <img class="dp" src="/static/images/pro-pic.png" alt="rahulmanojcet">
            </div>
             <img class="phone" src="/static/images/pro.JPG" alt="rahulmanojcet" class="shadow-dark">
            <div class="social-container">
                <ul class="social-icons">
                    <li><a href="https://instagram.com/_rawho"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://github.com/rawho"><i class="fa fa-github"></i></a></li>
                    <li><a href="https://linkedin.com/in/rahulmanojcet"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://wa.me/+919747406685"><i class="fa fa-whatsapp"></i></a></li>
                </ul>
        </div>
        <div class="counter">
          <p>This page was viewed</p>
          <h2 id="count">0</h2>
          <p>Times</p>
        </div>
        <p id="phone-tip" style="color: #ffc107; font-size: 22px; line-height: 2rem;">To explore more click the icon on <span style="color: #b1551f;">top-left</span> corner</p>
    </div>
</section>
<script>
    const words = ["I am Rahul T", "I am a Web Developer", "I am a Python Developer", "Welcome"],
  colors = ["yellow", "green", "yellow", "red"],
  text = document.querySelector(".text");

// Generator (iterate from 0-3)
function* generator() {
  var index = 0;
  while (true) {
    yield index++;

    if (index > 3) {
      index = 0;
    }
  }
}

// Printing effect
function printChar(word) {
  let i = 0;
  text.innerHTML = "";
  text.classList.add(colors[words.indexOf(word)]);
  let id = setInterval(() => {
    if (i >= word.length) {
      deleteChar();
      clearInterval(id);
    } else {
      text.innerHTML += word[i];
      i++;
    }
  }, 200);
}

// Deleting effect
function deleteChar() {
  let word = text.innerHTML;
  let i = word.length - 1;
  let id = setInterval(() => {
    if (i >= 0) {
      text.innerHTML = text.innerHTML.substring(0, text.innerHTML.length - 1);
      i--;
    } else {
      text.classList.remove(colors[words.indexOf(word)]);
      printChar(words[gen.next().value]);
      clearInterval(id);
    }
  }, 100);
}

// Initializing generator
let gen = generator();

printChar(words[gen.next().value]);



// counter
const countEl = document.getElementById('count');

updateVisitCount();

function updateVisitCount(){
  fetch("https://api.countapi.xyz/update/rahulmanoj.xyz/rahul?amount=1")
  .then(res => res.json())
  .then(res => {
    countEl.innerHTML = res.value;
  })
}

</script>