<section class="portfolio section" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>Projects</h2>
            </div>
        </div>
        <div class="row">
            <div class="portfolio-filter padd-15">
                <button type="button" class="active" data-filter="all">All</button>
                <button type="button" data-filter="web-design">Web Design</button>
                <button type="button" data-filter="django">Django</button>
                <button type="button" data-filter="python">Python</button>
                <button type="button" data-filter="other">Other</button>
            </div>
        </div>
        <div class="row">
            {% for portfolio in site.portfolios%}
            <!-- Portfolio Item  -->
            <div class="portfolio-item padd-15" data-category="{{ portfolio.data_category }}">
                <div class="portfolio-item-inner shadow-dark">
                    <div class="portfolio-img">
                        <img src="{{ portfolio.img_path }}" alt="portfolio">
                    </div>
                    <div class="portfolio-info">
                        <h4>{{ portfolio.title }}</h4>
                        <a href="{{ portfolio.link }}" target="_blank">
                            <div class="icon">
                            <i class="fa fa-github"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Portfolio Item End -->
            {% endfor %}
        </div>
    </div>
</section>