
    h1 {
    margin-top: 50px;
    font-size: 25px;
    font-weight: 100;
    color: #747474;
    text-align: left !important;
  }
  h1 span.text {
    padding: 0;
    padding-right: 4px;
    border-right: 2px solid #747474;
    animation: blink 0.75s infinite;
  }
  h1 .blue {
    color: #4480ff;
  }
  h1 .green {
    color: #4caf50;
  }
  h1 .yellow {
    color: #f4b400;
  }
  h1 .red {
    color: #f44336;
  }


  @keyframes blink {
    from {
      border: none;
    }
    to {
      border-color: 2px solid #747474;
    }
  }
  @media screen and (max-width: 670px) {
    h1 {
      font-size: 22px;
      text-align: center !important;
    }
  }
  @media screen and (max-width: 400px) {
    h1 {
      font-size: 20px;
    }
  }
  @media(max-width: 767px){
    .home .intro .intro-box{
        padding: 5px 0;
    }
    .home .intro .intro-box h2{
        font-size: 30px;
        text-align: center !important;
    }
  }
