<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/orange.css">
    <link rel="stylesheet" href="/static/css/allblogs.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Hi! My name is Rahul T (@rahulmanojcet). I am a Web Developer, and I'm very passionate and dedicated to my work. I am a student at College of Engineering, Trivandrum. I acquired the skills and knowledge necessary to make your project a success, with a lot of practice. I enjoy every step of the design process">
    <meta name="robots" content="index, follow" />
    <title>Blogs | Rahul T | rahulmanojcet</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/images/favicon/site.webmanifest">
</head>
<body>
    
    <section class="blog section" id="blog">
        <header>
            <div class='hero'>
            <div class="hero-one"></div>
            <div class="hero-two"></div>
            <h1 class="header-title"><span class="header-primary">Rahul T</span><span class="header-sub">Lets Read Something</span></h1>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <div class="section-title padd-15">
                    <h2>All Blogs</h2>
                </div>
            </div>
            <div class="row blog-container">
                <!-- Blog Item  -->
                {% for blog in site.blogs %}
                <div class="blog-item padd-15">
                    <div class="blog-item-inner shadow-dark">
                        <div class="blog-img">
                            <img src="{{ blog.img_path }}" alt="blog-{{ blog.title }}">
                        </div>
                        <div class="blog-info">
                            <h4 class="blog-title">{{ blog.title }}</h4>
                            <p class="blog-description">
                                {{ blog.description }}
                            </p>
                            <p class="blog-tags">Tags : <a href="#">{{ blog.tag1 }}</a>, <a href="#">{{ blog.tag2 }}</a></p>
                            <a class="read-more" href="{{ blog.permalink }}">Read More <i class="fa fa-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- Blog Item End -->
                
            </div>
            <a href="/">
            <div class="home-icon">
                <i class="fa fa-home"></i>
                <p>Home</p>
            </div>
            </a>
        </div>
    </section>
</body>
</html>
